// 大于420px小于770px
@media screen and (min-width: 420px) and (max-width: 770px) {
  .douban-wrapper{
    width: 100%
  }
    .big-wrapper{
      width: 80%
      margin: 0 auto
    }
}
@media screen and (min-width: 770px){
  .douban-wrapper{
    width: 100%
  }
    .big-wrapper{
      width: 60%
      margin: 0 auto
    }
}